{:uccx
 {:port #or [#env PORT 1504]
  :hrhostname "atea_dev_uccx11"
  :hrserver    #profile  {:default [#join ^:ref [:hostname] "_uccx"]
                        :dev     [#join ^:ref [:hostname] "_uccx"]}
  :hrdb      "db_cra"
  :hostip    #profile  {:dev "9.1.1.62"}
  :hrpassword "ateasystems0916"
  :hruser     "uccxhruser"
  :uri       #join ["jdbc:informix-sqli://"
                    ^:ref [:hostip]
                    ":"
                    ^:ref [:port]]
                    "/"
                    ^:ref [:hrdb]]
                    ":informixserver="
                    ^:ref [:hrserver]]
                    "_uccx;user="
                    ^:ref [:hruser]]
                    ";password="
                    ^:ref [:hrpassword]]
  }


 {:url #profile {:default #join ["jdbc:postgresql://psq-prod/prod?user="
                                 #env PROD_USER
                                 "&password="
                                 #env PROD_PASSWD]
                 }
  }
 }
